In [156]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, PolynomialFeatures,OneHotEncoder,LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet,RidgeCV,LassoCV,ElasticNetCV
from sklearn import metrics

## Import Data

In [157]:
#load train_cleaned.csv
train = pd.read_csv('../datasets/train_cleaned.csv')
train.head()

,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,utilities,lot_config,...,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice,age_garage
0,60,RL,69.0552,13517,Pave,None,IR1,Lvl,AllPub,CulDSac,...,0,None,None,None,0,3,2010,WD,130500,34.0
1,60,RL,43.0000,11492,Pave,None,IR1,Lvl,AllPub,CulDSac,...,0,None,None,None,0,4,2009,WD,220000,12.0
2,20,RL,68.0000,7922,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,1,2010,WD,109000,57.0
3,60,RL,73.0000,9802,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,4,2010,WD,174000,3.0
4,50,RL,82.0000,14235,Pave,None,IR1,Lvl,AllPub,Inside,...,0,None,None,None,0,3,2010,WD,138500,53.0

In [158]:
test = pd.read_csv('../datasets/test_cleaned.csv')
test.head()

,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,utilities,lot_config,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,age_garage
0,190,RM,69.0000,9142,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,0,None,None,None,0,4,2006,WD,96.0
1,90,RL,69.0552,9662,Pave,None,IR1,Lvl,AllPub,Inside,...,0,0,None,None,None,0,8,2006,WD,29.0
2,60,RL,58.0000,17104,Pave,None,IR1,Lvl,AllPub,Inside,...,0,0,None,None,None,0,9,2006,New,0.0
3,30,RM,60.0000,8520,Pave,None,Reg,Lvl,AllPub,Inside,...,0,0,None,None,None,0,7,2007,WD,72.0
4,20,RL,69.0552,9500,Pave,None,IR1,Lvl,AllPub,Inside,...,185,0,None,None,None,0,7,2009,WD,46.0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, PolynomialFeatures,OneHotEncoder,LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet,RidgeCV,LassoCV,ElasticNetCV
from sklearn import metrics


## Import Data

#load train_cleaned.csv
train = pd.read_csv('../datasets/train_cleaned.csv')
train.head()

test = pd.read_csv('../datasets/test_cleaned.csv')
test.head()

## 0:Baseline model

In [10]:
#create submit dataframe, get ID from test and assign Saleprice as mean
submit = test[['id']].rename(columns={'id':'Id'})
submit['SalePrice'] = train['saleprice'].mean()
submit.head()

     Id      SalePrice
0  2658  181469.701609
1  2718  181469.701609
2  2414  181469.701609
3  1989  181469.701609
4   625  181469.701609

In [11]:
#write submit to csv
submit.to_csv('../Model/0_baseline_model.csv',index=False)

## 1: All features model

In [ ]:
##

## 2: All numeric model

In [ ]:
##